@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: default;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

br {
    margin: 0.5rem;
}

.content_box {
    display: flex;
    background-color: rgba(252, 249, 230, 1);
    border-radius: 15px;
}

.navbar-styling {
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: rgba(248, 215, 117, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid rgb(131, 133, 136);
    width: 15%;
    text-decoration: none;
    color: rgb(73, 73, 73);
    font-weight: bold;
}

.nav-link:first-of-type {
    border-left: 1px solid rgb(131, 133, 136);
}

.viewport {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(153, 204, 204, 1);
    padding: 4rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    line-height: 130%;
    width: 30vmax;
    height: 10vmax;
    text-align: justify;
    padding: 1rem;
    color: rgb(73, 73, 73);
}

.nav-link:hover {
    animation: sunfleck;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes sunfleck {
    from {
        background: linear-gradient(-45deg, rgb(248, 215, 117) 30%, rgb(253, 236, 183) 50%, rgb(248, 215, 117) 70%);
        background-position: 100%;
        background-size: 400% 100%;
    }
    to {
        background: linear-gradient(-45deg, rgb(248, 215, 117) 30%, rgb(253, 236, 183) 50%, rgb(248, 215, 117) 70%);
        background-position: 0%;
        background-size: 400% 100%;
        color: rgb(117, 150, 248);
    }
}

.projects-container {
    display: grid;
    width: 70%;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem auto;
}

.project-tile {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-width: 100%;
    min-height: 30vh;
    overflow-y: visible;
    filter: sepia(20%);
    padding: 0.5rem;
}

.project-tile:hover {
    filter: sepia(0%);
    box-shadow: 0px 0px 15px rgba(252, 249, 230, 0.5);
}

.project-tile h3 {
    font-size: 100%;
    color: rgb(131, 133, 136);
}

.project-img {
    width: 90%;
    height: auto;
    border-radius: 5px;
    border: 1px solid rgb(248, 215, 117);
}

.fcc-logo {
    width: 2rem;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
}

.email-form {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 70%;
    height: auto;
    text-align: justify;
    padding: 1rem;
    color: rgb(73, 73, 73);
    margin: 1rem;
}

.input-area {
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(248, 215, 117);
}

.input-area:hover {
    outline: none !important;
    box-shadow: 0px 0px 5px 4px rgba(131, 133, 136, 0.15);
}

.input-area:focus {
    outline: none !important;
    box-shadow: 0px 0px 5px 4px rgba(131, 133, 136, 0.25);
}

.email-input {
    height: 2rem;
    ;
}

.message-input {
    height: 5rem;
    font-family: 'Raleway', sans-serif;
}

.form-block {
    width: 100%;
    margin: 1rem 0;
}

label {
    font-weight: bold;
}

textarea {
    resize: none;
    font-family: 'Raleway', sans-serif;
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 3rem;
}

.contact-link-a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    width: auto;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 1px;
    border-radius: 15px;
    ;
}

.contact-link-img {
    height: 100%;
    width: auto;
    border-radius: 7px;
    margin: 0.5rem;
}

.contact-link-a:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.submit-button {
    display: block;
    background-color: rgb(248, 215, 117);
    height: 1.5rem;
    color: rgb(73, 73, 73);
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin: auto;
    padding: 0 0.5rem;
}

.submit-button:hover {
    background-color: rgba(153, 204, 204, 1);
    color: rgb(255, 255, 255);
}

.submit-button:active {
    background-color: rgba(153, 204, 204, 1);
    color: rgb(73, 73, 73);
}

#welcome-section h1 {
    font-size: 4rem;
    margin: auto;
    color: rgba(248, 215, 117, 1);
    text-shadow: 0px 1px 0 rgb(131, 133, 136), 0px -1px 0 rgb(131, 133, 136), 1px 0px 0 rgb(131, 133, 136), -1px 0px 0 rgb(131, 133, 136), 1px 1px 0 rgb(131, 133, 136), 1px -1px 0 rgb(131, 133, 136), -1px 1px 0 rgb(131, 133, 136), -1px -1px 0 rgb(131, 133, 136), 0px 2px 0 rgb(131, 133, 136), 0px -2px 0 rgb(131, 133, 136), 2px 0px 0 rgb(131, 133, 136), -2px 0px 0 rgb(131, 133, 136), 2px 2px 0 rgb(131, 133, 136), 2px -2px 0 rgb(131, 133, 136), -2px 2px 0 rgb(131, 133, 136), -2px -2px 0 rgb(131, 133, 136);
}

#projects h2 {
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    color: rgba(248, 215, 117, 1);
    text-shadow: 0px 1px 0 rgb(131, 133, 136), 0px -1px 0 rgb(131, 133, 136), 1px 0px 0 rgb(131, 133, 136), -1px 0px 0 rgb(131, 133, 136), 1px 1px 0 rgb(131, 133, 136), 1px -1px 0 rgb(131, 133, 136), -1px 1px 0 rgb(131, 133, 136), -1px -1px 0 rgb(131, 133, 136), 0px 2px 0 rgb(131, 133, 136), 0px -2px 0 rgb(131, 133, 136), 2px 0px 0 rgb(131, 133, 136), -2px 0px 0 rgb(131, 133, 136), 2px 2px 0 rgb(131, 133, 136), 2px -2px 0 rgb(131, 133, 136), -2px 2px 0 rgb(131, 133, 136), -2px -2px 0 rgb(131, 133, 136);
}

#contacts h2 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    color: rgba(248, 215, 117, 1);
    text-shadow: 0px 1px 0 rgb(131, 133, 136), 0px -1px 0 rgb(131, 133, 136), 1px 0px 0 rgb(131, 133, 136), -1px 0px 0 rgb(131, 133, 136), 1px 1px 0 rgb(131, 133, 136), 1px -1px 0 rgb(131, 133, 136), -1px 1px 0 rgb(131, 133, 136), -1px -1px 0 rgb(131, 133, 136), 0px 2px 0 rgb(131, 133, 136), 0px -2px 0 rgb(131, 133, 136), 2px 0px 0 rgb(131, 133, 136), -2px 0px 0 rgb(131, 133, 136), 2px 2px 0 rgb(131, 133, 136), 2px -2px 0 rgb(131, 133, 136), -2px 2px 0 rgb(131, 133, 136), -2px -2px 0 rgb(131, 133, 136);
}