@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.html {
    font-family: "Alata", "Helvetica", sans-serif;
}

.body_margin {
    margin: 0px;
}

.header {
    background-color: rgba(255, 255, 255, 1);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "img h1 nav";
    padding: 0px;
}

.body__header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 3rem;
    z-index: 10;
}

.header__img {
    grid-area: img;
    width: auto;
    height: 3rem;
    margin: auto auto auto 3rem;
}

.header__h1 {
    grid-area: h1;
    margin: auto 0px;
}

.header__h1_centered {
    text-align: center;
}

.navbar {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__div_position {
    position: relative;
}

.navbar__link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar__link:before {
    content: "";
    position: absolute;
    border-bottom: 2px solid black;
    width: 100%;
    bottom: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.2s;
}

.navbar__link:hover:before {
    visibility: visible;
    transform: scaleX(1);
    transition: 0.2s;
}

.section {
    display: grid;
    grid-template-rows: 3rem auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-areas: "heading heading" "col1 col2";
    padding: 3rem 1rem;
}

.main__section {
    width: 100%;
    min-height: 100vh;
}

.section__about_color {
    background-color: rgb(255, 172, 128);
}

.section__video_color {
    background-color: rgb(128, 236, 255);
}

.section__next-steps_color {
    background-color: rgb(128, 255, 159);
}

.section__h2 {
    text-transform: uppercase;
    align-self: start;
    grid-area: heading;
}

.section__text-block {
    text-align: justify;
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    width: 100%;
    padding: 3rem;
    margin: auto;
}

.section__deco-block {
    width: 100%;
    margin: auto;
}

.section__img {
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 15px;
}

.section__iframe {
    max-width: 560px;
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 15px;
}

.section__about-text {
    background-color: rgba(255, 129, 61, 1);
    grid-area: col1;
}

.section__about-deco {
    grid-area: col2;
}

.section__video-text {
    background-color: rgba(21, 203, 235, 1);
    grid-area: col2;
}

.section__video-deco {
    grid-area: col1;
}

.section__next-text {
    background-color: rgba(27, 222, 75, 1);
    grid-area: col1;
}

.section__next-deco {
    grid-area: col2;
}

.form {
    display: flex;
}

.section__form {
    width: 100%;
}

.form__email-input {
    width: 80%;
    border-radius: 5px 0px 0px 5px;
    border: none;
    height: 2rem;
}

.button {
    background-color: rgba(255, 129, 61, 1);
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: bold;
}

.form__button {
    width: 20%;
    height: 2rem;
}

.button:hover {
    background-color: rgba(21, 203, 235, 1);
}

.button:active {
    background-color: rgba(128, 236, 255, 1);
}

.footer {
    background-color: rgba(130, 130, 130, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 0.7rem;
    text-align: center;
}

.body__footer {
    width: 100%;
}

@media (max-width: 992px) {
    .body__header {
        height: auto;
    }
    .navbar {
        flex-direction: column;
        justify-content: none;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .header__h1 {
        font-size: 16pt;
    }
    .section__h2 {
        font-size: 14pt;
    }
    .section__text-block {
        padding: 1rem;
    }
    .section {
        grid-template-rows: 3rem auto auto;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        grid-template-areas: "heading" "col1" "col2";
        padding: 4rem 1rem 1rem 1rem;
    }
    .section__text-block,
    .section__deco-block {
        width: 90%;
        margin: 1rem auto;
    }
    .section__video-text {
        grid-area: col1;
    }
    .section__video-deco {
        grid-area: col2;
    }
}

@media (max-width: 480px) {
    .header__h1,
    .section__h2 {
        font-size: 12pt;
    }
    .header__img {
        margin: auto;
    }
    .header {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "img h1 ." "img nav .";
    }
    .section {
        padding: 5rem 1rem 1rem 1rem;
    }
}