.header {
    text-align: center;
}

.header_background {
    width: 80vw;
    background-color: hsl(55, 100%, 97%);
    margin: auto;
    padding: 1rem;
}

.main_background {
    width: 80vw;
    background-color: hsl(55, 100%, 97%);
    margin: auto;
    padding: 1rem;
}

.section {
    display: flex;
    align-items: center;
}

.section__figure {
    width: 40%;
    margin: 0px;
}

.section__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.section__capture {
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
}

.section__div {
    width: 60%;
    padding: 1rem;
}

.section__div p {
    text-align: justify;
    line-height: 180%;
}

.section__quote {
    font-size: 1.1em;
    background-color: hsl(200, 100%, 90%);
    position: relative;
    margin: auto;
    padding: 1rem;
    font-style: italic;
    line-height: 120%;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(200, 50%, 50%)
}

.main__link {
    text-align: center;
}

@media (max-width: 768px) {
    .html {
        font-size: 18px;
    }
    .body {
        margin: 0px;
    }
    .header_background,
    .main_background {
        width: 90vw;
    }
    .section {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .section__div {
        width: 100%;
        padding: 0px;
    }
    .section__div p {
        text-align: justify;
        line-height: 110%;
    }
    .section__figure {
        width: 100%;
    }
    .section_column-reverse {
        flex-direction: column-reverse;
    }
}